@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/mixins' as m;

.not-exist {
	padding: 32px 0;

	&-wrapper {
		width: 100%;
		min-height: calc(100vh - 64px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&-inner {
		display: flex;
		flex-direction: column;
		gap: 48px;

		@include m.media(md) {
			gap: 78px;
		}

		a {
			min-width: 275px;
	
			@include m.media(md) {
				min-width: 319px;
			}
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		@include m.media(md) {
			gap: 26px;
		}

		h1 {
			font-style: italic;
			font-size: 81px;
			font-weight: v.$fw-semibold;

			@include m.media(md) {
				font-size: 58px
			}
		}

		p {
			max-width: 171px;
			text-align: center;
			@include m.text-italic();

			@include m.media(md) {
				max-width: 400px;
			}
		}
	}
}