@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/mixins' as m;

.register {
	&-wrapper {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
		padding: 139px 0 40px;

		@include m.media(xl) {
			padding: 212px 0;
		}
	}

	&-top {
		.register-desc {
			margin-bottom: 40px;

			@include m.media(md) {
				margin-bottom: 64px;
			}
		}
	}

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-items: flex-start;

		h1 {
			display: flex;
			flex-direction: column;
			font-family: v.$ff;
			font-weight: v.$fw-light;
			font-style: italic;
			font-size: 24px;
			text-align: center;
			margin-bottom: 70px;
			@include m.text-gradient265();

			@include m.media(md) {
				margin-bottom: 65px;
				font-size: 52px;
			}
	
			@include m.media(lg) {
				text-align: left;
			}
		}

		.register-desc {
			max-width: 799px;
			@include m.text-italic();
		}
	}

	form {
		width: 100%;
		max-width: 753px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include m.media(md) {
			align-items: flex-start;
		}

		legend {
			color: v.$black8;
			font-size: v.$fs-md;
			font-style: normal;
			font-weight: v.$fw-semibold;
			line-height: normal;
			letter-spacing: 0.8px;
			margin-bottom: 35px;

			@include m.theme(dark) {
				color: v.$white8;
			}
		}

		fieldset {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
			margin-bottom: 50px;

			@include m.media(md) {
				gap: 25px;
				margin-bottom: 60px;
			}
		}

		.form-top {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			@include m.media(md) {
				flex-direction: row;
				align-items: center;
				gap: 16px;
				justify-content: space-between;
			}

			.input-wrapper {
				@include m.media(md) {
					max-width: 200px;
				}
			}
		}

		.form-bottom {
			width: 100%;
			max-width: 338px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 25px;

			.input-wrapper {
				.show-pass {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		.privacy-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 74px;

			@include m.media(md) {
				margin-bottom: 40px;
			}

			a {
				color: v.$black8;
				border-bottom: 1px solid v.$black8;

				@include m.theme(dark) {
					color: v.$white8;
				}
			}

			.submit-privacy {
				width: 100%;
				max-width: 753px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 10px;

				a {
					display: inline;
				}

				p {
					color: v.$black8;
					font-size: v.$fs-xs;
					font-style: normal;
					font-weight: v.$fw-regular;
					line-height: 120%;
					letter-spacing: -0.32px;

					@include m.media(md) {
						font-size: v.$fs-md;
					}

					@include m.theme(dark) {
						color: v.$grayDark;
					}
				}
			}
		}
	}

	.not-have {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		justify-content: center;
		margin-left: calc(50% - 50vw);
		background-color: #F6F5F3;
		padding: 18px 20px;
		margin-bottom: 40px;

		p {
			color: v.$black8;
			font-size: v.$fs-xs;
			font-style: normal;
			font-weight: v.$fw-regular;
			line-height: normal;
			letter-spacing: 0.6px;
		}

		a {
			color: v.$black8;
			font-size: 10px;
			font-style: normal;
			font-weight: v.$fw-regular;
			line-height: normal;
			letter-spacing: 0.5px;
			border-bottom: 1px solid v.$black8;
		}

		@include m.media(lg) {
			display: none;
		}
	}
}