<div class="exclusive-item ">
	<div class="exclusive-item-left">
		<div class="exclusive-item-img" data-aos="fade-up" data-aos-duration="1000">
			<img src="@@src" alt="">
		</div>
	</div>
	<div class="exclusive-item-right">
		<div class="exclusive-item-status" data-aos="fade-up" data-aos-duration="1300">
			<span>
				EXCLUSIVE
			</span>
		</div>
		<div class="exclusive-item-name" data-aos="fade-up" data-aos-duration="1400">
			RICHARD MILLE
		</div>
		<div class="exclusive-item-desc">
			<p class="exclusive-item-state" data-aos="fade-up" data-aos-duration="1600">
				Новые
			</p>
			<p class="exclusive-item-text" data-aos="fade-up" data-aos-duration="1800">
				Полный комплект
			</p>
		</div>
		<a class="link underline" href="/card.html" data-aos="fade-up" data-aos-duration="2000">Детальнее</a>
	</div>
</div>