<!-- <button data-modal-target="success-modal"></button> For call modal - use data-modal target attr.-->
<!-- a-c class for modal content(for thank you modal). For avoid layout dublicates -->
<div id="contact-modal" class="modal-wrapper sm fc">
	<div class="modal">
		<div class="modal-content">
			<button class="modal-close" aria-label="Close" alt="Close button">
				<img src="img/close.svg" alt="">
			</button>
			<img class="phone" src="img/phone.svg" alt="">
			<div class="phones">
				<a href="tel:+7 985 508 08 08 ">
					+7 985 508 08 08 
				</a>
				<a href="tel:+7 989 588 85 85 ">
					+7 989 588 85 85 
				</a>
			</div>
			<div class="contact-socials">
				<a href="#"><img src="img/instagram.svg" alt=""></a>
				<a href="#"><img src="img/whatsapp.svg" alt=""></a>
				<a href="#"><img src="img/tg-no-border.svg" alt=""></a>
			</div>
		</div>
	</div>

</div>