<!-- <button data-modal-target="contact-modal"></button> For call modal - use data-modal target attr.-->
<!-- a-c class for modal content(for thank you modal). To avoid layout dublicates -->
<div id="success-modal" class="modal-wrapper big">
	<div class="modal">
		<div class="modal-content">
			<button class="modal-close" aria-label="Close" alt="Close button">
				<img src="img/close.svg" alt="">
			</button>
			<h2>
				ЗАПРОС <span>ПРИНЯТ!!</span>
			</h2>
			<p class="i">
				Мы свяжемся с Вами в ближайшее время.
			</p>
			<a class="button gradient big" href="/">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
		</div>
	</div>

</div>