@use '../../../scss/vars/vars.scss' as v;
@use '../../../scss/mixins/mixins' as m;

.searchbar {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px 10px;
	background-color: v.$white8;
	box-shadow: 0px -2.434px 24.335px 0px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(2.974829912185669px);
	overflow: hidden;
	transform: translateY(-10%);
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transition: transform ease v.$tr, visibility ease v.$tr, opacity ease v.$tr;

	@include m.theme(dark) {
		background-color: v.$darkBlue;
		box-shadow: v.$bs-gold
	}

	@include m.media(md) {
		padding: 0;
		height: auto;
		width: 700px;
		position: absolute;
		left: auto;
		right: 0;
		top: calc(100% + 8px);
		border-radius: 40px;
	}

	@include m.media(lg) {
		width: 900px;
	}

	@include m.media(xl) {
		width: 1122px;
	}

	&.opened {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	&-inner {
		width: 100%;
		height: 392px;
	}

	&-top {
		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: space-between;
		background-color: v.$white8;

		@include m.theme(dark) {
			background-color: v.$darkBlue;
		}

		@include m.media(md) {
			padding-right: 17px;
		}

		.searchbar-close {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 37px;
			height: 37px;
			aspect-ratio: 1;
			border-radius: 50%;
			box-shadow: v.$bs-main;

			@include m.media(md) {
				width: 23px;
				height: 23px;
				border-radius: 0;
				box-shadow: none;
			}

			img {
				width: 20px;
				height: 20px;

				@include m.media(md) {
					width: 100%;
					height: 100%;
				}
			}
		}

		.searchbar-input-wrapper {
			width: calc(100% - 31px);
			display: flex;
			border-radius: 30px;
			box-shadow: v.$bs-main;
			padding: 6px 14px 6px 28px;
			transition: border-radius ease v.$tr, background-color ease v.$tr, box-shadow ease v.$tr;

			input {
				padding: 0;
			}

			.find {
				width: 25px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 16px;
					height: 16px;
					aspect-ratio: 1;

					@include m.media(md) {
						width: 18px;
						height: 18px;
					}
				}
			}

			@include m.media(md) {
				border-radius: 0;
				padding: 17px 20px 17px 60px;
				box-shadow: none;

				&:focus-within {
					border-radius: 36.503px 0px 5px 0px;
					background-color: rgba(255, 255, 255, 0.10);
					box-shadow: 0px -2.434px 24.335px 0px rgba(0, 0, 0, 0.15);
					backdrop-filter: blur(2.974829912185669px);
				}
			}
		}
	}

	&-result {
		width: 100%;
		margin-top: 25px;

		&.no-items {
			margin-top: 0;
		}

		@include m.media(xl) {
			position: relative;
		}

			.fav {
				min-width: 174px;
				position: absolute;
				bottom: 40px;
				right: 50%;
				transform: translateX(50%);
				display: flex;
				align-items: center;
				gap: 9px;
				color: rgba(26, 26, 26, 0.50);
				font-size: 10px;
				font-style: normal;
				font-weight: v.$fw-regular;
				line-height: normal;
				letter-spacing: 0.96px;
				white-space: nowrap;
				padding: 12px;
				border-radius: 30.676px;
				background: rgba(255, 255, 255, 0.10);
				box-shadow: 0px -2.045px 20.451px 0px rgba(0, 0, 0, 0.15);
				backdrop-filter: blur(2.5px);
				z-index: 1;

				@include m.theme(dark) {
					color: v.$white;
				}

				@include m.media(xl) {
					transform: translateX(0);
					right: 18px;
					top: -10px;
					bottom: auto;
					padding: 18px;
					gap: 16px;
					font-size: v.$fs-xs;
				}
			}

		.searchbar-tabs {
			display: flex;
			flex-direction: column;

			@include m.media(md) {
				padding: 0 18px 32px 62px;
			}

			&-buttons {
				display: flex;
				overflow-x: auto;
				position: relative;
				margin-bottom: 20px;
				@include m.minimal-scrollbar();

				@include m.media(md) {
					margin-bottom: 16px;
				}

				.searchbar-buttons-inner {
					width: 100%;
					min-width: 521px;
					display: flex;
					align-items: center;
					gap: 14px;
					position: relative;
					padding-bottom: 10px;

					@include m.media(md) {
						width: auto;
						gap: 30px;
					}

					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						display: block;
						border-radius: v.$br20;
						width: 100%;
						height: 1px;
						background-color: rgba(26, 26, 26, 0.30);
						z-index: -1;

						@include m.theme(dark) {
							background-color: rgba(241, 241, 241, 0.3);
						}
					}
				}

				.searchbar-tab-btn {
					color: v.$black6;
					text-transform: uppercase;
					font-size: 10px;
					font-style: normal;
					font-weight: v.$fw-regular;
					line-height: normal;
					letter-spacing: 1px;
					position: relative;
					text-align: left;
					white-space: nowrap;

					&::after {
						content: '';
						display: block;
						width: 0;
						height: 1px;
						background-color: v.$brown-light;
						position: absolute;
						left: 0;
						opacity: 0;
						bottom: - 10px;
						transition: opacity ease v.$tr, width ease v.$tr;

						@include m.media(md) {
							height: 2px;
						}
					}

					@include m.media(md) {
						font-size: v.$fs-xs;
						font-style: normal;
						font-weight: v.$fw-medium;
						line-height: normal;
						text-align: center;
						letter-spacing: 1.2px;
					}

					@include m.theme(dark) {
						color: v.$grayDark;
					}

					&.active {
						color: v.$blackA;
						font-weight: v.$fw-medium;

						&::after {
							width: 100%;
							opacity: 1;
						}

						@include m.theme(dark) {
							color: v.$white8;
						}
					}
				}
			}

			.searchbar-tab-content {
				display: none;

				&.active {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					animation: f-in 1s forwards ease;

					@keyframes f-in {
						from {
							opacity: 0;
						}

						to {
							opacity: 1;
						}
					}
				}

				.searchbar-content-links {
					display: flex;
					flex-direction: column-reverse;
					align-items: flex-start;
					gap: 30px;

					@include m.media(md) {
						flex-direction: row;
						align-items: center;
						gap: 10px;
					}

					a {
						display: flex;
						align-items: center;
						gap: 12px;
						color: v.$black8;
						font-size: 14px;
						font-weight: 400;
						line-height: 80%;
						letter-spacing: 0.28px;

						@include m.theme(dark) {
							color: v.$white8;
						}

						@include m.media(md) {
							height: 50px;
							border-radius: 30.676px;
							background: rgba(255, 255, 255, 0.10);
							box-shadow: 0px -2.045px 20.451px 0px rgba(0, 0, 0, 0.15);
							backdrop-filter: blur(2.5px);
							padding: 13px 23px;
						}

						img {
							max-height: 15px;

							@include m.media(md) {
								max-height: 23px;
							}
						}
					}
				}

				.searchbar-latest {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					h4 {
						font-family: v.$ff;
						color: v.$black8;
						font-size: 14px;
						font-style: normal;
						font-weight: v.$fw-regular;
						line-height: 25px;
						letter-spacing: -0.32px;
						margin-bottom: 10px;

						@include m.theme(dark) {
							color: v.$white;
						}

						@include m.media(md) {
							font-size: v.$fs-md;
							margin-bottom: 21px;
						}
					}

					.latest-items {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 8px;
					}
				}

				.searchbar-item {
					display: flex;
					align-items: center;
					width: 100%;
					transition: background-color ease v.$tr;

					&.res {
						cursor: pointer;

						&:hover {
							background-color: #11111107;
						}
					}

					&-info {
						width: calc(100% - 32px);
						display: flex;
						align-items: center;
						transition: background-color ease v.$tr;
						cursor: pointer;
						border-radius: 10px;

						&:hover {
							background-color: #11111107;
						}
					}

					&-img {
						width: 23px;
						height: auto;
						margin-right: 6px;

						@include m.media(md) {
							margin-right: 10px;
							width: 40px;
							height: auto;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}

					.serial-num {
						margin-right: 40px;
						color: v.$blackA;
						font-size: 14px;
						font-style: normal;
						font-weight: v.$fw-regular;
						line-height: 15px;
						letter-spacing: -0.32px;

						@include m.media(md) {
							font-size: v.$fs-md;
						}

						@include m.theme(dark) {
							color: v.$grayDark;
						}
					}

					.mark,
					.searchbar-type {
						color: v.$black6;
						font-size: 14px;
						font-style: normal;
						font-weight: v.$fw-regular;
						line-height: 15px;
						letter-spacing: -0.32px;

						@include m.theme(dark) {
							color: v.$grayDark;
						}

						@include m.media(md) {
							font-size: v.$fs-md;
							line-height: 25px;
						}
					}

					.searchbar-mark {
						color: v.$blackA;
						font-size: 16px;
						font-style: normal;
						font-weight: v.$fw-regular;
						line-height: 25px;
						letter-spacing: -0.32px;
						margin-right: 10px;

						@include m.theme(dark) {
							color: v.$white;
						}
					}

					.item-close {
						width: 14px;
						height: 14px;
						aspect-ratio: 1;
						margin-left: auto;

						@include m.media(md) {
							width: 23px;
							height: 23px;
						}

						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}