@use '../../../../../scss/vars/vars.scss' as v;
@use '../../../../../scss/mixins/mixins.scss' as m;

.slides-half {
	overflow: hidden;
	padding: 45px 0 35px;

	@include m.media(md) {
		padding: 133px 0 75px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		gap: 36px;

		@include m.media(md) {
			flex-direction: row;
		}
	}

	.title-wrapper {
		margin-bottom: 10px;

		@include m.media(md) {
			margin-bottom: 50px;
		}

		h2 {
			font-family: v.$ff-corm;
			font-size: 48px;
			font-style: normal;
			font-weight: v.$fw-light;
			line-height: normal;
			letter-spacing: -0.96px;
			text-transform: uppercase;
			@include m.text-gradient();
			
			@include m.media(md) {
				margin-bottom: 30px;
			}
		}

		p {
			display: none;
			max-width: 331px;
			@include m.text-italic();

			@include m.media(md) {
				display: block;
			}
		}
	}

	&-left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		min-height: 100%;
		max-width: 331px;
		background-color: var(--body);
		z-index: 10;
		@include m.right-seam();

		@include m.media(xl) {
			padding-top: 16px;
		}
	}

	&-right {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: calc(100% - 367px);
		position: relative;

		.swiper {
			overflow: visible;
			width: 151px;
			margin: 0;

			@include m.media(md) {
				width: 253px;
			}

			&-slide {
				width: 100%;
			}

			.swiper-next, .swiper-prev {
				position: absolute;
				top: 20%;
				z-index: 100;
				display: none;

				@include m.media(md) {
					display: flex;
				}
			}

			.swiper-next {
				left: 90%;
				display: none;

				@include m.media(xl) {
					display: flex;
				}

				@include m.media(xxl) {
					left: 110%;
				}
			}

			.swiper-prev {
				left: 1%;
			}
		}
	}
}