@use '../../vars/vars' as v;
@use '../../mixins/mixins.scss' as m;

.swiper {
	&.hero-swiper,
	&.fade-swiper {
		.swiper-slide {
			&-img {
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;

				@include m.media(lg) {
					width: 63%;
					position: relative;
				}

				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 1;
					scale: 1.05;
					object-fit: cover;
					object-position: center;
					transition: opacity ease v.$tr, transform linear 3s, scale 1s linear;
					border-bottom-left-radius: v.$br5;
					border-bottom-right-radius: v.$br5;

					@include m.media(lg) {
						border-bottom-left-radius: 0;
						width: 98%;
					}
				}
			}

			&-prev {
				.swiper-slide-img {
					img {
						scale: 1.05;
					}
				}

				.swiper-slide-info {
					opacity: 0;
				} 
			}

			&-next {
				.swiper-slide-img {
					img {
						scale: 1.05;
					}
				}

				.swiper-slide-info {
					opacity: 0;
				} 
			}

			&-active {
				.swiper-slide-img {
					img {
						scale: 1;
					}
				}

				.swiper-slide-info {
					opacity: 1;
					transition-delay: 0.6s;
				}
				
			}
		}
	}

	&.hero-swiper {
		.swiper-slide {
			display: flex;
			align-items: center;
			width: 100vw;
			height: calc(100vh - 52px);
		}

		.swiper-slide-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			min-height: 100%;
			padding: 27px;
			transition: transform ease v.$tr, opacity ease v.$tr;

			@include m.media(lg) {
				justify-content: center;
				width: 37%;
			}

			&.light-text {
				.slide-info-desc {
					color: var(--white);
				}

				.slide-info-brand {
					img {
						filter: invert(100%);
					}
				}
			}

			.slide-info-img {
				display: none;
				margin-bottom: 26px;

				@include m.media(lg) {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				img {
					width: 305px;
					height: auto;
					border-radius: v.$br20;
				}
			}

			.slide-info-brand {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 15px;

				img {
					width: auto;
					height: 14px;
				}

				@include m.media(lg) {
					margin-bottom: 30px;
				}
			}

			.slide-info-desc {
				max-width: 322px;
				color: var(--blackA);
				text-align: center;
				font-family: v.$ff-corm;
				font-size: v.$fs-lg;
				font-style: normal;
				font-weight: v.$fw-regular;
				line-height: normal;
				letter-spacing: 0.2px;
				margin-bottom: 23px;

				@include m.media(lg) {
					font-size: 24px;
					letter-spacing: 1.2px;
					margin-bottom: 50px;
				}
			}
		}
	}

	&.fade-swiper {
		.pagination-wrapper {
			position: absolute;
			bottom: 24px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}

	.pagination-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		margin-top: 20px;

		@include m.media(md) {
			margin-top: 25px;
		}

		button {
			width: 12px;
			height: 12px;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		width: auto;
		position: static;

		&-bullet {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: transparent;
			opacity: 1;
			aspect-ratio: 1;
			margin: 0 !important;
			transition: scale ease v.$tr, opacity ease v.$tr;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transform-origin: center;
				aspect-ratio: 1;
				opacity: 1;
				scale: 1;
				background-color: #585858;
				border-radius: 50%;
				transition: opacity ease v.$tr, scale ease v.$tr;
				z-index: 1;
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 8px;
				height: 8px;
				opacity: 0;
				border-radius: 50%;
				background: var(--body);
			}

			&-active {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: transparent;
				opacity: 1;
				background: linear-gradient(107deg, #F6BA83 21.12%, #915D47 108.84%);
				position: relative;
				transition: opacity ease v.$tr, scale ease v.$tr;
			
				&::after {
					opacity: 1;
				}

				&::before {
					opacity: 0;
				}
			}
			

			&:hover {
				scale: 1.1;
			}
		}
	}
}