<div class="exclusive-item flex a-c j-sb gap-35">
	<div class="exclusive-item-left">
		<div class="exclusive-item-img">
			<img src="@@src" alt="">
		</div>
	</div>
	<div class="exclusive-item-right flex flex-col a-s j-s">
		<div class="exclusive-item-status flex a-c j-c">
			EXCLUSIVE
		</div>
		<div class="exclusive-item-name">
			RICHARD MILLE
		</div>
		<div class="exclusive-item-desc flex flex-col a-s j-s">
			<p class="exclusive-item-state">
				Новые
			</p>
			<p class="exclusive-item-text">
				Полный комплект
			</p>
		</div>
		<a class="link underline" href="">Детальнее</a>
	</div>
</div>