@use '../vars/vars.scss' as v;
@use '../mixins/theme' as m;
@use '../mixins/media' as q;

@mixin text-gradient() {
	background: linear-gradient(164deg, #F6BA83 22.09%, #915D47 83.07%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin text-gradient-dark() {
	background: linear-gradient(164deg, #F6BA83 15.89%, #915D47 77.11%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin text-gradient265() {
	background: linear-gradient(265deg, #F6BA83 -5.49%, #915D47 111.77%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin text-italic() {
	color: v.$black8;
	font-size: v.$fs-xs;
	font-style: italic;
	font-weight: v.$fw-light;
	line-height: 140%;
	letter-spacing: -0.32px;

	@include q.media(md) {
		font-size: v.$fs-md;
	}

	@include m.theme(dark) {
		color: rgba(255, 255, 255, 0.80);
	}
}