@use '../../vars/vars' as v;
@use '../../mixins/mixins' as m;

.modal-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	opacity: 0;
	z-index: 100;
	overflow-y: auto;
	visibility: hidden;
	transition: opacity ease v.$tr, visibility ease v.$tr;

	&.opened {
		opacity: 1;
		visibility: visible;
	}

	&.fc {
		.modal-content {
			width: 100%;
			align-items: center;
		}
	}

	&.big {
		.modal {
			max-width: 824px;
		}
	}

	&.sm {
		.modal {
			max-width: 488px;
		}
	}

	.modal {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		transition: opacity ease v.$tr;
		border-radius: 21px;
		background-color: v.$white;
		box-shadow: 0px -2.639px 26.386px 0px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(1.2902108430862427px);
		position: relative;
		margin: auto 0;

		@include m.media(md) {

			border-radius: 52.053px;
		}

		&-content {
			width: 100%;
			height: 100%;
			padding: 40px 60px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@include m.media(md) {
				padding: 60px;
			}

			&.a-c {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 47px 32px;

				@include m.media(md) {
					padding: 60px
				}

				h2 {
					display: inline-block;
					@include m.text-gradient();
				}

				p {
					width: 100%;
					max-width: 410px;
					text-align: center;
				}

				a {
					width: 100%;
					max-width: 217px;
					margin-top: 43px;

					@include m.media(md) {
						margin-top: 80px;
						max-width: 319px;
					}
				}
			}

			.phone {
				width: 18px;
				height: 18px;
			}

			.phones {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				padding: 22px 0;
				border-bottom: 1px solid rgba(26, 26, 26, 0.30);

				@include m.media(md) {
					gap: 13px;
					padding: 29px 0;
				}

				a {
					border-radius: 38.802px;
					background: rgba(255, 255, 255, 0.10);
					box-shadow: 0px -2.587px 25.868px 0px rgba(0, 0, 0, 0.15);
					backdrop-filter: blur(2.635200023651123px);
					padding: 11px 20px;
					color: rgba(26, 26, 26, 0.80);
					font-size: v.$fs-sm;
					font-style: normal;
					font-weight: v.$fw-regular;
					line-height: normal;
					letter-spacing: 0.547px;

					@include m.media(md) {
						font-size: v.$fs-lg;
						padding: 14px 26px;
					}
				}
			}
		}

		.contact-socials {
			margin-top: 29px;
			display: flex;
			align-items: center;
			gap: 14px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				aspect-ratio: 1;
				border-radius: 38.802px;
				background: rgba(255, 255, 255, 0.10);
				box-shadow: 0px -2.587px 25.868px 0px rgba(0, 0, 0, 0.15);
				backdrop-filter: blur(2.635200023651123px);

				img {
					max-width: 20px;

					@include m.media(md) {
						max-width: 27px;
					}
				}

				@include m.media(md) {
					width: 52px;
					height: 52px;
				}
			}
		}

		&-close {
			width: 23px;
			height: 23px;
			aspect-ratio: 1;
			position: absolute;
			right: 21px;
			top: 21px;

			img {
				width: 100%;
				height: 100%;
			}

			@include m.media(md) {
				right: 51px;
				top: 42px;
			}
		}

		h2 {
			display: inline-flex;
			flex-direction: column;
			align-items: flex-start;
			font-family: v.$ff;
			font-weight: v.$fw-light;
			margin-bottom: 30px;
			@include m.text-gradient265();

			span {
				font-family: v.$ff-corm;
				font-style: italic;
				font-weight: v.$fw-semibold;
				font-size: 26px;

				@include m.media(md) {
					font-size: 52px;
				}
			}

			@include m.media(md) {
				margin-bottom: 40px;
			}
		}

		p {
			&.i {
				@include m.text-italic();
			}
		}

		form {
			width: 100%;
			margin-top: 54px;
			display: flex;
			flex-direction: column;
			align-items: center;

			fieldset {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}

			button {
				width: 100%;
				max-width: 319px;
				margin-top: 54px;
			}
		}
	}
}