@use '../../../vars/vars.scss' as v;
@use '../../../mixins/mixins' as m;

%button-round {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: v.$transparent10;
	box-shadow: v.$bs-buttons;
	backdrop-filter: blur(v.$blur8);

	@include m.media(md) {
		width: 60px;
		height: 60px;
	}

	img {
		width: 23px;
		height: 23px;

		@include m.media(md) {
			width: 34px;
			height: 34px;
		}
	}
}