@use '../vars/vars' as *;

@mixin xs {
	@media (min-width: $xs) {
		@content;
	}
}

@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}

@mixin md {
	@media (min-width: $md) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}

@mixin bgBtn() {
	background: $white8;
	backdrop-filter: blur($blur8);
	box-shadow: $bs-main;
	border-radius: $br36;
}

@mixin textGrad() {
	background: linear-gradient(164deg, #F6BA83 22.09%, #915D47 83.07%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin buttonGrad() {
	background: linear-gradient(107deg, #F6BA83 21.12%, #915D47 108.84%);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(15px);
}

@mixin glare() {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -100%;
		width: 50%;
		height: 200%;
		background: rgba(255, 255, 255, 0.11);
		transform: skewX(-25deg) translateY(-50%);
		transition: left 1s ease;
	}

	&:hover::before {
		left: 150%;
	}
}