@use '../vars/vars' as *;

@mixin xs {
	@media (min-width: $xs) {
		@content;
	}
}

@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}

@mixin md {
	@media (min-width: $md) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}

@mixin bgBtn() {
	background: #FFFFFF1A;
	backdrop-filter: blur($blur3);
	box-shadow: $bs-main;
	border-radius: $br36;
}