@use '../vars/vars' as *;
@use '../common/mixins' as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $ff-corm;
	font-weight: $fw-light;
	line-height: $lh-title;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h1,
.h1,
h2,
.h2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: $ff-corm;
	font-size: 32px;
	font-style: normal;
	font-weight: $fw-light;
	line-height: normal;
	letter-spacing: -0.96px;
	@include textGrad();

	span {
		font-family: $ff-title;
	}

	@media all and (min-width: $lg) {
		font-size: 48px
	}
}

h3,
.h3 {
	font-size: 30px
}

h4,
.h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

h5,
.h5 {
	font-size: $fs-xl
}

h6,
.h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin: 0
}

b,
strong {
	font-weight: $fw-bold
}