// Colors.
$white: #FFFFFF;
$white8: #ffffffcc;
$snow: #FCFCFF;

$black: #1f1f1f;
$black6: #1a1a1a99;
$black8: #1A1A1ACC;
$blackA: #1A1A1A;

$darkBlue: #0F111F;

$grey: #585858;
$greyTransparent: #ffffff80;

$link-line: rgba(26, 26, 26, 0.20);
$brown-light: #CB9B6E;

//Backgrounds
$transparent10: #ffffff1a;

//Box-shadows
$bs-main: 0px -2.434px 24.335px 0px rgba(0, 0, 0, 0.15);
$bs-buttons: 0px -1.861px 18.614px 0px rgba(0, 0, 0, 0.15);
$bs-main-2: 0px -2.454px 24.541px 0px rgba(0, 0, 0, 0.15);
$bs-active: 0px -2.434px 12.335px 0px rgba(0, 0, 0, 0.15);
$bs-card: 0px -3.438px 34.385px 0px rgba(0, 0, 0, 0.15);
$bs-indicator: 0px -1.65px 16.505px 0px rgba(0, 0, 0, 0.15);
$grad-main: linear-gradient(164deg, #F6BA83 22.09%, #915D47 83.07%);