// Font families.
$ff			: 'Fira Sans', sans-serif;
$ff-title	: 'Cormorant Garamond', sans-serif;
$ff-corm	: 'Cormorant', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;