@use '../../../../../scss/vars/vars.scss' as v;
@use '../../../../../scss/mixins/mixins.scss' as m;

.carousel {
	padding: 50px 0;

	@include m.media(md) {
		padding: 100px 0;
	}

	.swiper {
		height: 34px;

		&-wrapper {
			display: flex;
			align-items: center;
			height: 100%;
			transition-timing-function: linear;
		}

		&-slide {
			display: flex;
			height: 100%;
	
			img {
				min-height: 34px;
			}
		}
	}
}