@use '../../common/mixins.scss' as *;
@use '../../vars/vars.scss' as *;

.article {
	@include sectionPadding150();

	&-img {
		width: 100%;
		border-radius: 40px 5px 5px 40px;

		img {
			width: 100%;
			height: auto;
			aspect-ratio: 1.55;
			box-shadow: $bs-main-2;
			border-radius: $br20;

			@media(min-width: $md) {
				border-radius: 40px 5px 5px 40px;
			}
		}

		@media(min-width: $md) {
			max-width: 672px;
		}
	}

	&-info {
		width: 100%;

		h2 {
			font-family: $ff;
			font-weight: $fw-light;
			margin-bottom: 30px;
			@include textGrad265();

			span {
				font-family: $ff-corm;
				font-style: italic;
				font-weight: $fw-semibold;
			}

			@media(min-width: $md) {
				margin-bottom: 40px;
			}
		}

		p {
			margin-bottom: 50px;
			@include textItalic();

			@media(min-width: $md) {
				margin-bottom: 60px;
			}
		}

		@media(min-width: $md) {
			max-width: 481px;
		}
	}
}