@use '../../common/mixins.scss' as *;
@use '../../vars/vars.scss' as *;

.cta {
	@include sectionPadding150();

	&-wrapper {
		p {
			max-width: 536px;
			margin-bottom: 30px;
			text-align: center;
			@include textItalic();

			@media(min-width: $md) {
				margin-bottom: 40px;
			}
		}

		button {
			width: 100%;
			max-width: 446px;
		}
	}
}