@use '../../common/mixins.scss' as *;
@use '../../vars/vars.scss' as *;

.exclusive {
	@include sectionPadding150();

	.title-wrapper {
		h2 {
			font-family: $ff;
			font-weight: $fw-light;
			font-style: italic;
			@include textGrad265();

			span {
				font-family: $ff-corm;
				font-weight: $fw-semibold;
			}
		}

		margin-bottom: 30px;

		@media(min-width: $xl) {
			margin-bottom: 70px;
		}
	}

	&-left,
	&-right {
		width: 100%;

		@media(min-width: $lg) {
			width: calc(50% - 20px);
		}

		&-img {
			position: relative;

			.button.round {
				position: absolute;
				right: 30px;
				bottom: 30px;
				z-index: 1;
			}
		}
	}

	&-left {
		&-img {
			width: 100%;
			height: 100%;
			box-shadow: $bs-main;
			border-radius: 3px 20px 20px 20px;

			@media(min-width: $md) {
				border-radius: 40px 5px 5px 40px;
			}

			img {
				width: 100%;
				height: 340px;
				object-fit: cover;
				aspect-ratio: 0.925;
				border-radius: 3px 20px 20px 20px;
				box-shadow: $bs-main;

				@media(min-width: $md) {
					height: 616px;
					border-radius: 40px 5px 5px 40px;
				}
			}
		}
	}

	&-right {
		&-img {
			width: 100%;
			box-shadow: $bs-main;
			border-radius: $br20;

			@media(min-width: $md) {
				border-radius: 40px 40px 5px 5px;
			}

			img {
				width: 100%;
				height: 206px;
				object-fit: cover;
				aspect-ratio: 1.52;
				border-radius: $br20;
				box-shadow: $bs-main;

				@media(min-width: $md) {
					height: 373px;
					border-radius: 40px 40px 5px 5px;
				}
			}
		}
	}

	.swiper {
		width: 370px;
		position: relative;
		margin: 0;
		overflow: visible;

		.swiper-prev,
		.swiper-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 20;
		}

		.swiper-prev {
			left: 10%;

			@media(min-width: $sm) {
				left: -12%;
			}

			@media(min-width: $md) {
				left: -20%;
			}
		}

		.swiper-next {
			right: 10%;

			@media(min-width: $sm) {
				right: -12%;
			}

			@media(min-width: $md) {
				right: -20%;
			}
		}
	}
}