@use '../../vars/vars' as *;
@use '../../common/mixins' as *;

.slides-half {
	overflow: hidden;

	@include sectionPadding150();

	.title-wrapper {
		margin-bottom: 50px;

		h2 {
			margin-bottom: 10px;
			@include textGrad();
			
			@media(min-width: $md) {
				margin-bottom: 30px;
			}
		}

		p {
			max-width: 331px;
			@include textItalic();
		}
	}


	&-left {
		width: 100%;
		min-height: 100%;
		max-width: 331px;
		background-color: var(--body);
		z-index: 10;

		@include rightSeam();
	}

	&-right {
		width: calc(100% - 367px);
		position: relative;

		.swiper {
			overflow: visible;
			width: 254px;
			margin: 0;

			@media(min-width: $sm) {
				width: 528px;
			}

			@media(min-width: $md) {
				width: 802px;
			}

			&-slide {
				width: 100%;
			}

			.swiper-next, .swiper-prev {
				position: absolute;
				top: 20%;
				z-index: 100;
				display: none;

				@media(min-width: $md) {
					display: flex;
				}
			}

			.swiper-next {
				left: 90%;
				display: none;

				@media(min-width: $xl) {
					display: flex;
				}

				@media(min-width: $xxl) {
					left: 110%;
				}
			}

			.swiper-prev {
				left: 1%;
			}
		}
	}
}