@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/mixins' as m;

.live {
	padding: 121px 0 84px;

	@include m.media(md) {
		padding: 191px 0 253px;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-top {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 37px;

		.link {
			display: none;
		}

		@include m.media(md) {
			gap: 32px;
			margin-bottom: 86px;

			.link {
				display: inline-flex;
			}
			
		}
	}

	&-heading {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
		position: relative;

		@include m.media(md) {
			gap: 10px;
		}

		h1 {
			font-family: v.$ff;
			font-weight: 275;
			font-style: italic;
			font-size: 24px;
			position: relative;
			@include m.text-gradient();

			@include m.media(md) {
				font-size: 54px;
			}

			span {
				font-family: v.$ff-corm;
				font-weight: v.$fw-semibold;
				font-size: 26px;

				@include m.media(md) {
					font-size: 58px;
				}
			}

			.live-indicator {
				position: absolute;
				right: -12px;
				top: 5px;
				width: 3px;
				height: 3px;
				background-color: #DD2424;
				border-radius: 50%;
				box-shadow: 0px 0px 3.191px #DD2424;

				@include m.media(md) {
					width: 5px;
					height: 5px
				}
			}
		}

		p {
			@include m.text-italic();

			@include m.media(md) {
				padding-left: 7px;
			}
		}
	}

	&-link {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;

		@include m.media(md) {
			margin-top: 60px;
		}
	}

	&-items {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 40px;
	}

	&-slides {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include m.media(md) {
			gap: 60px;
		}

		h2 {
			display: flex;
			flex-direction: column;
			font-family: v.$ff;
			font-weight: 250;
			font-style: italic;
			@include m.text-gradient265();

			span {
				font-family: v.$ff-corm;
				font-weight: v.$fw-semibold;
				font-size: 26px;

				@include m.media(md) {
					font-size: 52px;
				}
			}
		}

		.swiper {
			width: 315px;
			margin: 0;
			overflow: visible;

			&-slide {
				.info-card {
					width: 100%;
				}
			}
		}
	}
}