@use '../../vars/vars' as *;

.hidden {
	display: none;

	&-m {
		display: none;

		@media(min-width: $lg) {
			display: flex;
		}
	}

	&-d {
		display: flex;

		@media(min-width: $lg) {
			display: none;
		}
	}
}