@use '../../../vars/vars.scss' as v;
@use '../../../mixins/mixins.scss' as m;

%link-border {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	gap: 7px;
	color: v.$black8;
	font-size: 11px;
	font-style: italic;
	font-weight: v.$fw-medium;
	line-height: normal;
	letter-spacing: 0.84px;

	@include m.media(md) {
		gap: 10px;
		font-size: v.$fs-sm;
	}

	.line {
		width: 30px;
		height: 1px;
		border-radius: v.$br20;
		position: relative;

		@include m.media(md) {
			width: 56px;
			height: 2px;
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: v.$br20;
			background-color: v.$brown-light;
			transition: width ease v.$tr;
		}
	}

	&:hover {
		.line::before {
			width: 40%;
		}
	}

	@include m.theme(dark) {
		color: #FFFFFFCC;
	}
}