@use '../../../../scss/vars/vars.scss' as v;
@use '../../../../scss/mixins/mixins' as m;

.collection-item {
	width: 100%;

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-img {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 30px;

		@include m.media(md) {
			margin-bottom: 60px;
		}

		img {
			max-width: 100%;
			max-height: 241px;
			height: auto;
			width: auto;

			@include m.media(md) {
				max-height: 338px;
			}
		}
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 14px;
		margin-bottom: 24px;

		@include m.media(md) {
			margin-bottom: 41px;
		}

		.row {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			@include m.media(md) {
				gap: 24px;
				flex-direction: row;
				align-items: center;
			}

			.col {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				@include m.media(md) {
					width: calc(50% - 12px);
					align-items: flex-start;
				}

				span {
					font-size: 9px;
					font-style: normal;
					font-weight: v.$fw-regular;
					line-height: 140%;
					letter-spacing: -0.18px;
					text-transform: uppercase;
					@include m.text-gradient265();

					@include m.media(md) {
						font-size: 13px;
						letter-spacing: -0.265px;
					}
				}

				p {
					color:	v.$blackA;
					font-size: 11px;
					font-style: normal;
					font-weight: v.$fw-regular;
					line-height: 140%;
					letter-spacing: -0.22px;

					@include m.media(md) {
						font-size: v.$fs-md;
						letter-spacing: -0.324px;
					}

					@include m.theme(dark) {
						color: #F9F9F9;
					}
				}
			}
		}
	}

	&-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;

		@include m.media(md) {
			gap: 20px;
		}
	}

	.collection-button {
		color: v.$black8;
		font-family: v.$ff;
		font-size: 10px;
		font-style: normal;
		font-weight: v.$fw-medium;
		line-height: normal;
		padding: 15px 24px;
		border-radius: 22px;
		letter-spacing: 1px;
		background: rgba(255, 255, 255, 0.10);
		backdrop-filter: blur(2px);
		box-shadow: v.$bs-main;

		@include m.media(md) {
			font-size: v.$fs-xs;
			letter-spacing: 1.2px;
			padding: 22px 48px;
		}

		@include m.theme(dark) {
			color: v.$white8;
			box-shadow: 0px -1.524px 15.24px 0px rgba(246, 186, 131, 0.15);
			background: rgba(255, 255, 255, 0.10);
		}
	}
}