<div class="collection-item">
	<div class="collection-item-inner">
		<div class="collection-item-img" data-aos="fade-up" data-aos-duration="1000">
			<img src="@@src" alt="">
		</div>
		<div class="collection-item-info">
			<div class="row" data-aos="fade-up" data-aos-duration="1500">
				<div class="col">
					<span>КУПЛЕНЫ:</span>
					<p>@@date1</p>
				</div>
				<div class="col">
					<span>СТОИМОСТЬ ПРИ ПОКУПКЕ:</span>
					<p>@@price1</p>
				</div>
			</div>
			<div class="row" data-aos="fade-up" data-aos-duration="1700">
				<div class="col">
					<span>ГАРАНТИЯ ДЕЙСТВУЕТ ДО:</span>
					<p>@@date2</p>
				</div>
				<div class="col">
					<span>СТОИМОСТЬ СЕЙЧАС:</span>
					<p>@@price2</p>
				</div>
			</div>
		</div>
		<div class="collection-item-buttons">
			<button class="collection-button" data-aos="fade-up" data-aos-duration="1800">
				ПРОДЛИТЬ ГАРАНТИЮ
			</button>
			<button class="collection-button" data-aos="fade-up" data-aos-duration="2000">
				ПРОДАТЬ
			</button>
		</div>
	</div>
</div>