@use '../../vars/vars' as v;
@use '../../mixins/mixins' as m;
@use '../../utils/placeholders/placeholders' as *;

.button {
	&.gradient {
		@extend %link-gradient;

		// Big size
		&.big {
			border-radius: 15px;
			padding: 23px 33px;
		}

		&.full {
			width: 100%;
			max-width: 773px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			font-size: 11px;
			padding: 13px 18px;

			img {
				width: 18px;
				height: 18px;

				@include m.media(md) {
					width: 22px;
					height: 22px;
				}

				@include m.theme(dark) {
					filter: invert(100%);
				}
			}

			@include m.media(md) {
				font-size: v.$fs-sm;
				padding: 20px 30px;
			}
		}

		&.sm {
			font-size: v.$fs-xs;
			padding: 16px 40px;

			@include m.media(md) {
				padding: 22px 55px;
				font-size: v.$fs-sm;
			}
		}

		@include m.theme(dark) {
			color: #0F111F;
		}
	}

	// Rounded button
	&.round {
		@extend %button-round;
	}
}