@use '../../vars/vars.scss' as v;

.swiper-prev, .swiper-next {
	&.circle {
		width: 50px;
		height: 50px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: var(--roundBtn);
		box-shadow: v.$bs-buttons;
		backdrop-filter: v.$blur8;
		position: relative;
		transition: opacity ease v.$tr, visibility ease v.$tr, scale ease v.$tr;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: v.$grad-main;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			border-radius: 50%;
			opacity: 0;
			transition: opacity ease v.$tr;
		}

		svg path {
			fill: v.$black8;
		}
	
		&:hover {
			&::after {
				opacity: 1;
			}

			svg path {
				fill: v.$white;
			}
		}

		&[disabled] {
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}
	}
}

.swiper-prev {
	svg {
		transform: scaleX(-1);
	}
}