@use '../../../../../scss/vars/vars' as v;
@use '../../../../../scss/mixins/mixins' as m;

.catalog-controls {
	padding: 14px 0;

	@include m.media(md) {
		padding: 45px 0 20px;
	}

	&-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;
		
		@include m.media(md) {
			position: relative;
			justify-content: space-between;
		}

		.catalog-button {
			gap: 16px;
			padding: 20px 30px;
			border-radius: 30px;
			background: rgba(255, 255, 255, 0.10);
			box-shadow: 0px -2.045px 20.451px 0px rgba(0, 0, 0, 0.15);
			backdrop-filter: blur(2.5px);

			@include m.theme(dark) {
				box-shadow: v.$bs-gold;
			}

			img {
				max-width: 24px;
			}

			span {
				color: v.$blackA;
				font-size: v.$fs-xs;
				font-style: normal;
				font-weight: v.$fw-medium;
				line-height: normal;
				letter-spacing: 1.6px;

				@include m.media(md) {
					font-size: v.$fs-md;
					letter-spacing: 1.6px;
				}

				@include m.theme(dark) {
					color: v.$white8;
				}
			}

			&.sort, &.search {
				display: none;

				@include m.media(md) {
					display: flex;
				}
			}
			
			&.filter {
				width: 100%;
				max-width: 315px;

				@include m.media(md) {
					max-width: 200px;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}

				@include m.media(xl) {
					max-width: 367px;
				}
			}
		}
	}
}