@use '../../../../scss/mixins/mixins' as m;
@use '../../../../scss/vars/vars' as v;

.theme-button {
	min-height: 50px;
	padding: 0 15px;
	gap: 15px;
	@include m.bgBtn();

	&.header-btn {
		height: 100%;
		padding: 0 30px;
		
		display: none;

		@include m.media(lg) {
			display: flex;
			min-width: 196px;
		}
	}

	span {
		color: var(--black8);
		font-size: v.$fs-xs;
		font-style: normal;
		font-weight: v.$fw-medium;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	img {
		max-width: 22px;
		max-height: 22px;
	}

	&.dark {
		background: var(--transparent10);

		span {
			color: v.$greyTransparent;
		}
	}

	&.hidden {
		display: none;
	}

	&:active {
		box-shadow: v.$bs-active;
	}
}